<form method='POST' action='/notes/delete'>
    <div class="container-fluid">
        {{#if user}}
            <input type='hidden' name='id' value='{{#if note}}{{note._id}}{{/if}}'>
            <p class="form-text">Delete {{note.title}} note?</p>
            <div class="btn-group">
                <button type="submit" class="btn btn-outline-dark deleteBtn">DELETE</button>
                <a class="btn btn-outline-dark" href="/notes/view/{{#if note}}{{note._id}}{{/if}}">Cancel</a>
            </div>
        {{else}}
            {{> not-logged-in }}
        {{/if}}
    </div>
</form>
