<div class="container-fluid">
    <div class="form-group row">
        <label for="title" class="col-1 col-form-label">Title</label>
        <div class="col">
            <input disabled type="text" class="form-control" id='title' name='title' placeholder="Enter title"
                   value='{{#if note }}{{note.title}}{{/if}}'>
        </div>
    </div>
    <div class="form-group row">
        <div class="col">
                <textarea disabled class="form-control text" placeholder="Enter text..."
                          name='text'>{{#if note }}{{note.text}}{{/if}}</textarea>
        </div>
    </div>
    <div class="operations">
        {{#if note}}
            <form method="post" action="/notes/confirmDelete">
                <input type="hidden" name="id" value="{{#if note }}{{note._id}}{{/if}}"/>
                <button class="btn btn-outline-dark deleteBtn" role="button">Delete</button>
            </form>
            <form method="post" action="/notes/edit">
                <input type="hidden" name="id" value="{{#if note }}{{note._id}}{{/if}}"/>
                <button class="btn btn-outline-primary" role="button">Edit</button>
            </form>
        {{/if}}
    </div>
</div>